.container {
  display: flex;
  bottom: 0;
  justify-content: center;
  left: 0;
  padding-bottom: 16px;
  position: fixed;
  right: 0;
}

.hiddenContainer {
  transform: translateY(100%);
}

.player {
  align-items: center;
  background-color: var(--black-1);
  border-radius: 8px;
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 16px;
}

.playPauseButton {
  align-items: center;
  background-color: var(--white-2);
  border-radius: 50%;
  border: none;
  color: var(--black-2);
  cursor: pointer;
  display: flex;
  font-size: 20px;
  justify-content: center;
  height: 40px;
  width: 40px;
}

.timer {
  color: var(--white-2);
}

.progressBar {
  height: 24px;
  background-color: transparent;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
.progressBar:focus {
  outline: none;
}
.progressBar::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--grey-1);
  border-radius: 3px;
}
.progressBar::-webkit-slider-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--white-1);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}
.progressBar:focus::-webkit-slider-runnable-track {
  background: var(--grey-1);
}
.progressBar::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: var(--grey-1);
  border-radius: 3px;
}
.progressBar::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--white-1);
  cursor: pointer;
}
.progressBar::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.progressBar::-ms-fill-lower {
  background: var(--grey-1);
  border-radius: 6px;
}
.progressBar::-ms-fill-upper {
  background: var(--grey-1);
  border-radius: 6px;
}
.progressBar::-ms-thumb {
  margin-top: 1px;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: var(--white-1);
  cursor: pointer;
}
.progressBar:focus::-ms-fill-lower {
  background: var(--grey-1);
}
.progressBar:focus::-ms-fill-upper {
  background: var(--grey-1);
}
