.albumCard {
  padding-top: 8px;
}

.albumContent {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 16px;
}

@media (min-width: 800px) {
  .albumContent {
    align-items: flex-start;
    flex-direction: row;
  }
}
